<html>
<head>
	<title>Courses Page</title>

	    <!-- Bootstrap -->
<!--     <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" >
 -->
    	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery.js"></script>

	<script type="text/javascript">
	$(document).ready(() => {

		$('#showid').click(() =>{
			console.log("clicked showid");
			const requestClass = 'classes/' + $('#classBox').val();
			console.log("getting classid from:", requestClass);

			$.ajax({
				url: requestClass,
      			type: 'GET',
      			dataType : 'json', // this URL returns data in JSON format
      			success: (data) => {
      				console.log('You received some data!', data);

      				if(data.prof && data.time){
      					$('#status').html('Get the classid of: '+requestClass);
      					$('#profDiv').html('The professor is: '+data.prof);
      					$('#timeDiv').html('The class time is: '+data.time);
      				}else{
      					$('#status').html('ERROR WHEN GETTING FROM: '+requestClass);
      					$('#profDiv').html('');
      					$('#timeDiv').html('');
      				}
      			},
			});
		}); //showid click

		$('#showClasses').click(() => {
    		$.ajax({
      		url: '/classes',
      		type: 'GET',
      		dataType : 'json',
      		success: (data) => {
        		console.log('You received some data!', data);
        		$('#status').html('All classes: ' + data);
      		},
    	  });
  		});//ShowClasses click

		$('#addClass').click(() => {
			$.ajax({
				url: '/classes',
				type: 'POST',
				dataType: 'json',
				data: {
								name: $('#addClassBox').val(),
								prof: $('#addProfBox').val(),
								time: $('#addTimeBox').val()
							},
				success: (data) => {
					$('#classAddedDiv').html(data.message);
					$('#attend').append($('#addClassBox').val());
				}
			});
		});

	});	//doc ready
	</script>

</head>

<body>
	<div class="container-fluid">
	  <div class="col-xs-12">
	    <h1>Course Page</h1>
	    <hr>
	  </div>
	  Class: <input id="classBox" type="text" size="20"/>

	  <button id="showClasses">Show All Classes</button>
	  <button id="showid">Get Class Detail</button>
	</div>

	<div class="jumbotron">
		<div id="status"></div>
		<div id="profDiv"></div>
		<div id="timeDiv"></div>
	</div>

	<div class="container-fluid">
		<hr>
	  	Name: <input id="addClassBox" type="text" placeholder="Add a Class" size="20"/>
	  	Prof: <input id="addProfBox" type="text" placeholder="Professor?" size="20"/>
	  	Time: <input id="addTimeBox" type="text" placeholder="Time?" size="20"/>
	  	<button id="addClass"> Submit </button>
	  	<hr/>
		<div id="classAddedDiv"></div>
	</div>

	<div class="jumbotron">
		classes people attended:
		<div id="attend"></div>
	</div>
</body>
</html>
