<html>
<head>
	<title>Courses Page</title>

	    <!-- Bootstrap -->
<!--     <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" >
 -->
 	<link href="/css/styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
    	<!-- Jquery -->
	<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>
	<script>
			  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyCFp8GQ4X6bk445Hlit2RDgjLrZboYxBw0",
	    authDomain: "cogs121project-b08aa.firebaseapp.com",
	    databaseURL: "https://cogs121project-b08aa.firebaseio.com",
	    projectId: "cogs121project-b08aa",
	    storageBucket: "",
	    messagingSenderId: "962818010492"
	  };
	  firebase.initializeApp(config);
	</script>
	<script src="https://code.jquery.com/jquery.js"></script>

	<script type="text/javascript">
	$(document).ready(() => {
		const database = firebase.database();
		let num = 1;
		$.ajax({
      		url: '/classes',
      		type: 'GET',
      		dataType : 'json',
      		success: (data) => {
        		console.log('You received some data!', data);
        		$('#status').html(''); //clear HTML
        		$('#status').append('<ul id="allClassList"> </ul>');
        		//load allClasses
        		Object.keys(data).forEach((name) => {
        			$('#allClassList').append('<li> <span class="className">' + data[name] +'</span><a href="#" class="addButton"><img src="images/addButton.png"> </a></li>');        			
        		})
      		},
    	  });

		//load myClasses
		database.ref('users/Shawn/courses').once('value', (snapshot) => {
	      const data = snapshot.val();
				$('#result').html(''); // clear the HTML
	      // $('#result').append('My courses:');
	      Object.keys(data).forEach((name) => {
	        $('#result').append('<li>' + data[name] + '<a href="#" class="deleteButton"><img src="images/deleteButton.png"> </a><a href="#" class="addButton"><img src="images/addButton.png"></li>');
	      });
	    });
		});

		$('#showid').click(() =>{
			console.log("clicked showid");
			const requestClass = 'classes/' + $('#classBox').val();
			console.log("getting classid from:", requestClass);

			$.ajax({
				url: requestClass,
      			type: 'GET',
      			dataType : 'json', // this URL returns data in JSON format
      			success: (data) => {
      				console.log('You received some data!', data);

      				if(data.prof && data.time){
      					$('#status').html('Get the classid of: '+requestClass);
      					$('#profDiv').html('The professor is: '+data.prof);
      					$('#timeDiv').html('The class time is: '+data.time);
      				}else{
      					$('#status').html('ERROR WHEN GETTING FROM: '+requestClass);
      					$('#profDiv').html('');
      					$('#timeDiv').html('');
      				}
      			},
			});
		}); //showid click

		$('#showClasses').click(() => {
  		});//ShowClasses click

		$('#addClass').click(() => {
			database.ref('users/Shawn/courses').once('value', (snapshot) => {
	      const data = snapshot.val();
	      num = Object.keys(data).length + 1;
				console.log(data);
				console.log(num);
				database.ref('users/Shawn/courses/' + num).set($('#addClassBox').val());
	    });
		});

		$('#showMyClass').click(() => {
			

	});	//doc ready
	</script>

</head>

<body>
	<div class="container-fluid">
	  <div class="col-xs-12">
	    <h1>Course Page</h1>
	    <hr>
	  </div>
	</div>
	<div class="container">
		<div class="col-lg-12" style="display:flex; justify-content: center; margin-bottom: 30px;">
			<input value="Class name" id="classBox" type="text" size="20"/>
		  	<!-- <button id="showClasses">Show All Classes</button> -->
		  	<button id="showid">Get Class Detail</button>
		  	<input id="addClassBox" type="text" placeholder="Class name" size="20"/>
		  	<button id="addClass"> Add course </button>
		</div>
		<div class="col-lg-6" style="border-right: 1px solid #9e9e9e;"">
			<h3> Available Courses </h3> <hr>
			<div id="status"></div>
			<div id="profDiv"></div>
			<div id="timeDiv"></div>
		</div>
		<!-- <hr>
	  	<button id="showMyClass"> Show my course </button>
	  <hr/> -->
	<div class="col-lg-6"">
		<h3> My Courses </h3> <hr>
		<ul id="result"></ul>
	</div>
	</div>
</body>
</html>
