<html>
<head>
	<title>Courses Page</title>


	<script src="https://code.jquery.com/jquery.js"></script>

	<script type="text/javascript">
	$(document).ready(() => {
		$('#showid').click(() =>{
			console.log("clicked showid");
			const requestClass = 'classes/' + $('#classBox').val();
			console.log("getting classid from:", requestClass);

			$.ajax({
				url: requestClass,
      			type: 'GET',
      			dataType : 'json', // this URL returns data in JSON format
      			success: (data) => {
      				console.log('You received some data!', data);

      				if(data.prof && data.time){
      					$('#status').html('Get the classid of: '+requestClass);
      					$('#profDiv').html('The professor is: '+data.prof);
      					$('#timeDiv').html('The class time is: '+data.time);
      				}else{
      					$('#status').html('ERROR WHEN GETTING FROM: '+requestClass);
      					$('#profDiv').html('');
      					$('#timeDiv').html('');
      				}
      			},
			});
		}); //showid click

		$('#showClasses').click(() => {
    		$.ajax({
      		url: 'classes/',
      		type: 'GET',
      		dataType : 'json',
      		success: (data) => {
        		console.log('You received some data!', data);
        		$('#status').html('All classes: ' + data);
      		},
    	  });
  		});//ShowClasses click

		$('#addClass').click(() => {
			console.log("class added");
			$.ajax({
				url: 'classes',
				type: 'POST',
				data: {
									class: $('#addClassBox').val()
							},
				success: (data) => {
					$('#classAddedDiv').html("Class Added: " + data.class);
				}
			})
		})
	});	//doc ready
	</script>

</head>
<body>
	<div class="container-fluid">
	  <div class="col-xs-12">
	    <h1>Course Page</h1>
	    <hr>
	  </div>
	  Class: <input id="classBox" type="text" size="20"/>

	  <button id="showClasses">Show All Classes</button>
	  <button id="showid">Get Class Detail</button>
	</div>

	<div class="jumbotron">
		<div id="status"></div>
		<div id="profDiv"></div>
		<div id="timeDiv"></div>	
	</div>

	<div class="container-fluid">
		<input id="addClassBox" type="text" placeholder="Add a Class" size="20"/>
		<button id="addClass"> Submit </button>
		<div id="classAddedDiv"></div>
	</div>
</body>
</html>
