<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Friends Page</title>
 	<link href="css/styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
	<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyCFp8GQ4X6bk445Hlit2RDgjLrZboYxBw0",
	    authDomain: "cogs121project-b08aa.firebaseapp.com",
	    databaseURL: "https://cogs121project-b08aa.firebaseio.com",
	    projectId: "cogs121project-b08aa",
	    storageBucket: "",
	    messagingSenderId: "962818010492"
	  };
	  firebase.initializeApp(config);
	</script>

	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

	<script type="text/javascript">
	$(document).ready(() => {
		const database = firebase.database();
		const userID = sessionStorage.getItem('curr_user');
		console.log("friend page for " + userID);
		// load all courses (static)
		let num = 0;
		//load myFriends
		database.ref('users/' + userID + '/friends').on('value', (snapshot) => {
	    const data = snapshot.val();
			$('#result').html(''); // clear the HTML
			$('#result').append('My friends:');
	    Object.keys(data).forEach((name) => {
				if(name != 'num') {
	      	$('#result').append('<li><a id="' + data[name] + '">' + data[name] + '</a></li>');
				}
	    });
   	});
		/* show friends button
		$('#showFriends').click(() => {
			database.ref('users/' + userID + '/friends').on('value', (snapshot) => {
	      const data = snapshot.val();
				$('#result').html(''); // clear the HTML
	      $('#result').append('My friends:');
	      Object.keys(data).forEach((name) => {
	        $('#result').append('<li><a id="' + data[name] + '">' + data[name] + '</a></li>');
	      });
	    });
		});*/
		// add friend button
		$('#addFriend').click(() => {
			database.ref('users/' + userID + '/friends').once('value', (snapshot) => {
	      const data = snapshot.val();
				const newFriend = $('#addFriendBox').val();
				const newFriend_ = newFriend.substr(0, newFriend.indexOf('@'));
				if(newFriend_ == userID) {
					alert("Can't add yourself as friend");
					return;
				}
				database.ref('users/').once('value', (snapshot) => {
					if (!snapshot.hasChild(newFriend_)) {
						alert(newFriend + " is not found in our system");
						return;
	        }
	        else {
	          console.log(newFriend + " is in database");
						num = data.num + 1;
						let found = false;
						Object.keys(data).forEach((name) => {
							if(data[name] == newFriend) {
				      	found = true;
								alert("You already have " + newFriend + " added as friend");
							}
				    });
						if(!found) {
							database.ref('users/' + userID + '/friends/' + num).set($('#addFriendBox').val());
							database.ref('users/' + userID + '/friends/num').set(num);
						}
					}
				});
	    });
		});

	});//doc ready

	</script>

</head>
<body>
	<div class="container-fluid">
	  <div class="col-xs-12">
	    <h1>Friend Page</h1>
	    <hr>
	  </div>
		<hr>
	  	<input id="addFriendBox" type="text" placeholder="Enter Friend's E-mail" size="20"/>
	  	<button id="addFriend"> Add friend </button>
	  <hr/>
		<!--<button id="showFriends">Show my friends</button>-->
		<div class="jumbotron">
			<div id="result"></div>
		</div>
	</div>

	<canvas id="myChart"></canvas>
	<script>
	var ctx = document.getElementById("myChart");
	var myChart = new Chart(ctx, {
	    type: 'radar',
	    data: {
	        labels: ["COGS120", "COGS121", "COGS17", "COGS100", "COGS1", "COGS10"],
	        datasets: [{
	            label: '# of people attending',
	            data: [12, 19, 20, 5, 15, 13],
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255,99,132,1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 3
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        }
	    }
	});
	</script>
</body>
</html>
