<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Friends Page</title>
 	<link href="css/styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
	<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyCFp8GQ4X6bk445Hlit2RDgjLrZboYxBw0",
	    authDomain: "cogs121project-b08aa.firebaseapp.com",
	    databaseURL: "https://cogs121project-b08aa.firebaseio.com",
	    projectId: "cogs121project-b08aa",
	    storageBucket: "",
	    messagingSenderId: "962818010492"
	  };
	  firebase.initializeApp(config);
	</script>

	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

	<script type="text/javascript">
	// Initialize database and current user
	const database = firebase.database();
	const userID = sessionStorage.getItem('curr_user');
	console.log("friend page for " + userID);

	$(document).ready(() => {
		// pin number in database
		let num = 0;
		//load myFriends
		database.ref('users/' + userID + '/friends').on('value', (snapshot) => {
	    const data = snapshot.val();
			$('#result').html(''); // clear the HTML
			$('#result').append('My friends:');
	    Object.keys(data).forEach((name) => {
				if(name != 'num') {
	      	$('#result').append('<li> <span class="friendName">' + data[name] +'</span><button onclick="check_bt(' + "'" + data[name] +"'" + ')" class="addButton">Check courses</button></li>');
				}
	    });
   	});
		// add friend button
		$('#addFriend').click(() => {
			database.ref('users/' + userID + '/friends').once('value', (snapshot) => {
	      const data = snapshot.val();
				const newFriend = $('#addFriendBox').val();
				const newFriend_ = newFriend.substr(0, newFriend.indexOf('@'));
				if(newFriend_ == userID) {
					alert("Can't add yourself as friend");
					return;
				}
				database.ref('users/').once('value', (snapshot) => {
					if (!snapshot.hasChild(newFriend_)) {
						alert(newFriend + " is not found in our system");
						return;
	        }
	        else {
	          console.log(newFriend + " is in database");
						num = data.num + 1;
						let found = false;
						Object.keys(data).forEach((name) => {
							if(data[name] == newFriend) {
								alert("You already have " + newFriend + " added as friend");
								found = true;
								return;
							}
				    });
						if(!found) {
							database.ref('users/' + userID + '/friends/' + num).set($('#addFriendBox').val());
							database.ref('users/' + userID + '/friends/num').set(num);
						}
					}
				});
	    });
		});

	});//doc ready
	// get a certain friend's course schedule
	function check_bt(friend) {
		const friend_ = friend.substr(0, friend.indexOf('@'));
		const key = 'users/' + friend_ + '/courses';
		database.ref(key).once('value', (snapshot) => {
			const data = snapshot.val();
			$('#friendCourse').html('');
			$('#friendCourse').append(friend + "'s courses:");
			Object.keys(data).forEach((name) => {
				if(name != 'num') {
					$('#friendCourse').append('<li>' + data[name] + '</li>');
				}
			});
		});
	}
	</script>

</head>
<body>
	{{>nav}}
	<div class="container-fluid">
	  <div class="col-xs-12 center-content">
	    <h1>Friend Page</h1>
	  </div>
	</div>
		<div class="jumbotron" id="friendInfo">
			<input id="addFriendBox" type="text" placeholder="Enter Friend's E-mail" size="20"/>
	  	<button id="addFriend" class="btn btn-warning"> Add friend </button>
			<div id="result"></div>
			<div id="friendCourse"></div>
		</div>
	</div>

	<div id="chart">
		<canvas id="myChart"></canvas>
	</div>
	<div id="bot"></div>
	<script>
	// Initialize data props for chart
	let myCourses = [];
	let colors = [];
	let colors_ = [];
	let numbers = [];
	database.ref('users/' + userID + '/courses').on('value', (snapshot) => {
		const course_data = snapshot.val();
		database.ref('/courses').on('value', (snapshot) => {
			const overall = snapshot.val();
			Object.keys(course_data).forEach((name) => {
				if(name != 'num') {
					const temp = course_data[name];
					myCourses.push(temp);
					colors.push('rgba(54, 162, 235, 0.2)');
					colors_.push('rgba(255,99,132,1)');
					numbers.push(overall[temp] - 1);
				}
			});
			// construct bar chart for number of friends for each scheduled course
			let ctx = document.getElementById("myChart");
			let myChart = new Chart(ctx, {
			    type: 'bar',
			    data: {
			        labels: myCourses,
			        datasets: [{
			            label: '# of friends attending courses that you scheduled',
			            data: numbers,
			            backgroundColor: colors,
			            borderColor:colors_,
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero:true
			                }
			            }]
			        }
			    }
			});
		});
	});
	</script>
</body>
</html>
