<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Profile</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
	<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>

	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyCFp8GQ4X6bk445Hlit2RDgjLrZboYxBw0",
	    authDomain: "cogs121project-b08aa.firebaseapp.com",
	    databaseURL: "https://cogs121project-b08aa.firebaseio.com",
	    projectId: "cogs121project-b08aa",
	    storageBucket: "",
	    messagingSenderId: "962818010492"
	  };
	  firebase.initializeApp(config);
	</script>

	<script src="https://code.jquery.com/jquery.js"></script>

	<script type="text/javascript">

	$(document).ready(() => {
		const database = firebase.database();
		// google sign-in pop-up, Initialize firebase for first sign-in 
		$('#signin_bt').click(() =>{
			let provider = new firebase.auth.GoogleAuthProvider();
			firebase.auth().signInWithPopup(provider).then(function(result) {
				let userID = result.user.email;
				console.log(userID + " has logged in");
				userID = userID.substr(0, userID.indexOf('@'));
				database.ref('users/').once('value', (snapshot) => {
					if (!snapshot.hasChild(userID)) {
						console.log(userID + " is new, adding to database");
						database.ref('users/' + userID).set({courses: {num: 0}, friends: {num: 0}});
	        }
	        else {
	          console.log(userID + " already in database");
	        }
					sessionStorage.setItem('curr_user', userID);
					location.href = "./course";
				});
			}).catch(function(error) {
				alert("Error when logging in");
			});
		});
	});	//doc ready
	</script>
</head>

<body id="indexBody" class="center-content">
	<div class="container-fluid profileWrapper">
	  <div class="col-xs-12">
	    <h1 id="indexHeader">Course Share</h1>
	  </div>
	  <div id="userInfo">
	  	<br>
	  	<img src="/images/temp.png" id="userImage">
	  	<p> Find community in your classes <p/>
	  </div>
	  <div class="container center-content">
			<button id="signin_bt" class="btn btn-warning">Sign in</button>
		</div>
	</div>
</body>
</html>
