<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div class="container-fluid">
	  <div class="col-xs-12">
	    <h1>Home Page</h1>
	    <hr>
	  </div>
		<button>Show my information</button>
	</div>
</body>
</html>
